
  
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  margin-top: 40px;
}

.App-header {
  background-color: rgb(19,9,20);
  height: 225px;
  padding: 20px;
  color: white;
}

#message {
  font-size: 1.5em;
  font-family: 'Orbitron', sans-serif;
  margin-top: 50px;
  color: #B4C900;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-main {
  background-color: rgb(19,9,20);
  height: 100%;
}

#score {
  /* float: right; */
  font-size: 200%;
  font-family: fantasy;
  /* margin-top: 50px; */
  /* position: absolute; */
  /* margin-left: 12%; */
}



#youLoseDiv {
  position: absolute;
  z-index: 5;
  margin: 0;
  height: 100%;
  width: 100%;
  /* background-color: black; */
  background-color: rgba(0, 0, 0, 0.8);
}
